{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.132"}
        reagent/reagent {:mvn/version "1.2.0"}
        re-frame/re-frame {:mvn/version "1.4.3"}
        day8.re-frame/tracing {:mvn/version "0.6.2"}
        cljs-bean/cljs-bean {:mvn/version "1.9.0"}
        tick/tick {:mvn/version "0.7.5"}}}
