{:source-paths ["src"]
 :dependencies [[reagent "1.2.0"]
                [re-frame "1.4.3"]
                [day8.re-frame/tracing "0.6.2"]
                [cljs-bean "1.9.0"]
                [tick "0.7.5"]]
 :builds {:app {:target :browser
                :output-dir "resources/public/js"
                :asset-path "js"
                :modules {:main {:init-fn spectra.core/init}}
                :release {:compiler-options {:optimizations :advanced}}
                :devtools {:http-root "resources/public"
                           :http-port 3000
                           :push-state/index "index.html"}}}}
